---
version: "3.8"
services:
  drone:
    image: {{ drone.lookup.containers.drone.image }}
    ports:
      - {{ drone.container.listen }}:80
{%- if drone.config.tls.cert %}
      - {{ drone.container.listen_https }}:443
{%- endif %}
    env_file:
      - {{ drone.lookup.paths.config_drone }}
{%- if drone.install.autoupdate %}
    labels:
      - io.containers.autoupdate=registry
{%- endif %}
    volumes:
      - {{ drone.lookup.paths.data or "drone_data" }}:/data

{%- if not drone.lookup.paths.data %}

volumes:
  drone_data:
    name: drone_data
{%- endif %}
