{%- macro render(var, prefix=[]) %}
{%-   if var is mapping %}
{%-     for name, value in var | dictsort %}
{%-       if name.endswith("_pillar") %}
{%-         set name_no_pillar = name[:-7] %}
{%-         if var[name_no_pillar] is not none %}
{%-           continue %}
{%-         endif %}
{%-         set name, value = name_no_pillar, salt["pillar.get"](value) %}
{%-       endif %}
{{- render(value, prefix + [name]) }}
{%-     endfor %}
{%-   elif var is iterable and (var is not string and var is not mapping) %}
{{ prefix | join("_") | upper }}={{ var | join(",") }}
{%-   elif var in [true, false] %}
{{ prefix | join("_") | upper }}={{ var | lower }}
{%-   elif var is not none %}
{{ prefix | join("_") | upper }}={{ var }}
{%-   endif %}
{%- endmacro -%}

{{- render(drone.config, ["drone"]) }}
